

{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block content %}
    <div class="container" style="padding: 4%;">
        <form action="{%url 'edit_profile'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}

            {% bootstrap_form form%}
            <input type="submit" class="btn btn-success btn-lg" value="Post">
        </form>
    </div>

    <hr>
    <footer>
        <p class="text-center copy">&copy; All rights reserved. Dan Njoroge-2020</p>
    </footer>

    {% endblock %}